<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi primer documento en HTML</title>
    </head>
    
    <body>
        <header>
            <img src="images/logo-mercado-liebre.svg" alt="logoMercadoLiebre">
            <p>Lugar para poner la barra de búsqueda</p>
            <p>Compra en cuotas y sin tarjeta de crédito</p>
            
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </header>
        
        <main>
            <h2>Básado en tu última visita</h2>
            <img src="images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% off</p>
            <h3>Cafetera Moulinex</h3>

            <img src="images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <h3>MacBook Pro 2019</h3>

            <img src="images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>Samsung Galaxy S10</h3>

            <img src="images/img-tv-samsung-smart.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>SmartTV Samsung 43"</h3>

            <h2>Ofertas</h2>
            <img src="images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% off</p>
            <h3>Cafetera Moulinex</h3>

            <img src="images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <h3>MacBook Pro 2019</h3>

            <img src="images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>Samsung Galaxy S10</h3>

            <img src="images/img-tv-samsung-smart.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>SmartTV Samsung 43"</h3>
        </main>
        
        <footer>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <strong>Envío gratis desde $2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.</p>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                por que estás siempre protegid@</p>
            <strong>Copyright @ 1999-2020 MercadoLiebre S.R.L.</strong>
        </footer>
    </body>
</html>